@import 'flip-card';

body {
  background: rgb(231, 254, 236);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    60deg,
    rgb(255, 255, 255) 30%,
    rgba(41, 209, 158, 0.7) 60%,
    rgba(4, 52, 41, 1) 100%
  );
}
